<div>
    <h2 id="page-heading">
        <span jhiTranslate="formsApp.survey.home.title">Surveys</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-survey" [routerLink]="['/survey/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="formsApp.survey.home.createLabel">
            Create a new Survey
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="surveys?.length === 0">
        <span jhiTranslate="formsApp.survey.home.notFound">No surveys found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="surveys && surveys.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.dateStart">Date Start</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.dateEnd">Date End</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.dateCreated">Date Created</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.dateLastUpdated">Date Last Updated</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.lastUpdatedBy">Last Updated By</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.surveyConfiguration">Survey Configuration</span></th>
                    <th scope="col" ><span jhiTranslate="formsApp.survey.surveyStats">Survey Stats</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let survey of surveys ;trackBy: trackId">
                    <td><a [routerLink]="['/survey', survey.id, 'view']">{{ survey.id }}</a></td>
                    <td>{{ survey.name }}</td>
                    <td>{{ survey.description }}</td>
                    <td>{{ survey.dateStart | date:'medium' }}</td>
                    <td>{{ survey.dateEnd | date:'medium' }}</td>
                    <td>{{ survey.dateCreated | date:'medium' }}</td>
                    <td>{{ survey.dateLastUpdated | date:'medium' }}</td>
                    <td>{{ survey.createdBy }}</td>
                    <td>{{ survey.lastUpdatedBy }}</td>
                    <td jhiTranslate="{{ 'formsApp.SurveyStatus.' + survey.status }}">{{ survey.status }}</td>
                    <td>
                        <div *ngIf="survey.surveyConfiguration">
                            <a [routerLink]="['/survey-configuration', survey.surveyConfiguration?.id, 'view']" >{{ survey.surveyConfiguration?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="survey.surveyStats">
                            <a [routerLink]="['/survey-stats', survey.surveyStats?.id, 'view']" >{{ survey.surveyStats?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/survey', survey.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/survey', survey.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(survey)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
