<div>
    <h2 id="page-heading">
        <span jhiTranslate="formsApp.answer.home.title">Answers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answer" [routerLink]="['/answer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="formsApp.answer.home.createLabel">
            Create a new Answer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="answers?.length === 0">
        <span jhiTranslate="formsApp.answer.home.notFound">No answers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="answers && answers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="formsApp.answer.dateCreated">Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="takenBy"><span jhiTranslate="formsApp.answer.takenBy">Taken By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="answerData"><span jhiTranslate="formsApp.answer.answerData">Answer Data</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="surveyId"><span jhiTranslate="formsApp.answer.survey">Survey</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="questionId"><span jhiTranslate="formsApp.answer.question">Question</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let answer of answers ;trackBy: trackId">
                    <td><a [routerLink]="['/answer', answer.id, 'view']">{{ answer.id }}</a></td>
                    <td>{{ answer.dateCreated | date:'medium' }}</td>
                    <td>{{ answer.takenBy }}</td>
                    <td>{{ answer.answerData }}</td>
                    <td>
                        <div *ngIf="answer.surveyId">
                            <a [routerLink]="['/survey', answer.surveyId , 'view']" >{{ answer.surveyId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="answer.questionId">
                            <a [routerLink]="['/question', answer.questionId , 'view']" >{{ answer.questionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/answer', answer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/answer', answer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(answer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
