<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answer">
            <h2><span jhiTranslate="formsApp.answer.detail.title">Answer</span> {{ answer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="formsApp.answer.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ answer.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="formsApp.answer.takenBy">Taken By</span></dt>
                <dd>
                    <span>{{ answer.takenBy }}</span>
                </dd>
                <dt><span jhiTranslate="formsApp.answer.answerData">Answer Data</span></dt>
                <dd>
                    <span>{{ answer.answerData }}</span>
                </dd>
                <dt><span jhiTranslate="formsApp.answer.survey">Survey</span></dt>
                <dd>
                    <div *ngIf="answer.surveyId">
                        <a [routerLink]="['/survey', answer.surveyId, 'view']">{{ answer.surveyId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="formsApp.answer.question">Question</span></dt>
                <dd>
                    <div *ngIf="answer.questionId">
                        <a [routerLink]="['/question', answer.questionId, 'view']">{{ answer.questionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer', answer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
