<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="question">
            <h2><span jhiTranslate="formsApp.question.detail.title">Question</span> {{ question.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="formsApp.question.text">Text</span></dt>
                <dd>
                    <span>{{ question.text }}</span>
                </dd>
                <dt><span jhiTranslate="formsApp.question.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'formsApp.QuestionType.' + question.type }}">{{ question.type }}</span>
                </dd>
                <dt><span jhiTranslate="formsApp.question.jsonData">Json Data</span></dt>
                <dd>
                    <span>{{ question.jsonData }}</span>
                </dd>
                <dt><span jhiTranslate="formsApp.question.survey">Survey</span></dt>
                <dd>
                    <div *ngIf="question.surveyId">
                        <a [routerLink]="['/survey', question.surveyId, 'view']">{{ question.surveyId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question', question.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
