<div>
    <h2 id="page-heading">
        <span jhiTranslate="formsApp.question.home.title">Questions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-question" [routerLink]="['/question/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="formsApp.question.home.createLabel">
            Create a new Question
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="questions?.length === 0">
        <span jhiTranslate="formsApp.question.home.notFound">No questions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="questions && questions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span jhiTranslate="formsApp.question.text">Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="formsApp.question.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jsonData"><span jhiTranslate="formsApp.question.jsonData">Json Data</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalResponseCount"><span jhiTranslate="formsApp.question.totalResponseCount">Total Response Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="surveyId"><span jhiTranslate="formsApp.question.survey">Survey</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let question of questions ;trackBy: trackId">
                    <td><a [routerLink]="['/question', question.id, 'view']">{{ question.id }}</a></td>
                    <td>{{ question.text }}</td>
                    <td jhiTranslate="{{ 'formsApp.QuestionType.' + question.type }}">{{ question.type }}</td>
                    <td>{{ question.jsonData }}</td>
                    <td>{{ question.totalResponseCount }}</td>
                    <td>
                        <div *ngIf="question.surveyId">
                            <a [routerLink]="['/survey', question.surveyId , 'view']" >{{ question.surveyId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/question', question.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/question', question.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(question)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
